{% extends 'base.html.twig' %}

{% block body_id 'homepage' %}

{% block main %}

    <div class="row">
        <div class="col-md-12">
            <img src="{{ asset('images/earth-from-space.jpg') }}">
        </div>
    </div>

{% endblock %}
