{% extends 'base.html.twig' %}

{% block body_id 'upload' %}

{% block main %}

    {{ form_start(form) }}

    <h3>Tags</h3>
    <ul class="tags" data-prototype="{{ form_widget(form.tags.vars.prototype)|e }}">
        {% for tag in form.tags %}
            <li>{{ form_row(tag.name) }}</li>
        {% endfor %}
    </ul>


    <div class="form-group">
        <button class="btn btn-primary pull-right" type="submit">Submit</button>
    </div>
    {{ form_end(form) }}

{% endblock %}
