body {
    background: #f1f1f1;
    padding-top: 70px;
    height: 100%;
}

#homepage img {
    width: 100%;
}

.row .thumbnail {
    border:0;
    box-shadow:none;
    border-radius:0;
}

.comments span.comment-date{
    margin-left: 30px;
    color: #898989;
}

.form-box {
    /*margin-top: 35px;*/
}

.form-top {
    background: #fff none repeat scroll 0 0;
    border-radius: 4px 4px 0 0;
    overflow: hidden;
    padding: 0 25px 15px;
    text-align: left;
}

.form-bottom {
    background: #eee none repeat scroll 0 0;
    border-radius: 0 0 4px 4px;
    padding: 25px 25px 30px;
    text-align: left;
}

.form-bottom label {
    font-weight: normal;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.footer {
    background-color: #242729;
    margin-top: 35px;
    bottom: 0;
    height: 60px;
    width: 100%;
}

#trigger-upload {
    color: white;
    background-color: #00ABC7;
    font-size: 14px;
    padding: 7px 20px;
    background-image: none;
}

#fine-uploader-manual-trigger .qq-upload-button {
    margin-right: 15px;
}

#fine-uploader-manual-trigger .buttons {
    width: 36%;
}

#fine-uploader-manual-trigger .qq-uploader .qq-total-progress-bar-container {
    width: 60%;
}